# Dependencies
node_modules
dist

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests
coverage
.nyc_output

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
prisma/migrations/.migration-lock

# Performance reports
.unlighthouse/
